$mint: #35A854;
$salmon: #D35D6E;

*{
  all: unset; //Unsets everything so you can style everything from scratch
}

.bar {
  background-color: #3a3a3a;
  color: #b0b4bc;
  padding: 3px;
}

.sidestuff slider {
  color: #ffd5cd;
}

.ws {
  background-color: #3a3a3a;
  color: #b0b4bc;
  padding: 10px;
  min-width: 20px;
  border: none;
}

.ws button:hover {
  color: #D35D6E;
}

.active_ws {
  color: #F00;
  background: #2a2a2a;
  border: 2px solid #777;
}

.workspaces button:hover {
  color: #D35D6E;
}

.pbutton {
  color: red;
  border: 1px solid #777;
  margin: 3px 15px;
  padding: 3px;
  min-height: 3px;
  min-width: 25px;
  border-radius: 10px;
}

.metric scale trough{
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 15px;
  margin-right: 20px;
}

.metric scale trough highlight {
  all: unset;
  background-color: $mint;
  color: #000000;
  border-radius: 10px;    
}

scale slider {
  background-color: #6c6c6c;
  border-radius: 10px;
  min-height: 15px;
  min-width: 15px;
  margin: -5px;
}

scale slider:active{
  background-color: $mint;
}

